/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
$presentation-heading-color: #2568B0;
$link-color: #c78d22;
$hover-color: lighten($link-color, 10%);
$code-block-font-size: 0.7em;
$presentation-h2-font-size: 1.4em !default;
$presentation-font-size-root: 36px !default;

/*-- scss:rules --*/